version: 2

balTop:
  # example
  # 1. %bvault_top_nick_vault_0% %bvault_top_balance_vault_0%
  # 2. %bvault_top_nick_vault_1% %bvault_top_balance_vault_1%
  # 3. %bvault_top_nick_vault_2% %bvault_top_balance_vault_2%
  # %bvault_top_nick_{bank}_{pos}% %bvault_top_balance_{bank}_{pos}%
  size: 100 # The size of the top list. Always make it 1 more than you need as the last position may not be accurate.
  cashTime: 60 # How often to update the player top list?
  format:
    decimal-format: '#.##' # 10.33333 -> 10.33
    thousand-separator: ' ' # 10000 -> 10 000
    integer-separator: '.' # 100,98 -> 100.98
  emptyPos: '----' # when the position in the top list is empty

dataBase:
  type: sqlite # sqlite, mysql, none
  host: "localhost"
  port: 3306
  user: "root"
  password: "password"
  dbName: "vault"
  maxPoolSize: 5

lang:
  hasMoney: 'Player %s has %s coins in bank %s.'
  failedToGetBalance: '&cFailed to retrieve uuid balance :('
  updateBalance: "Player %s now has %s coins in bank %s."
  failed: '&cOperation failed :('
  vaultProvider: "Current economy provider is '%s'"
  cantClear: '&cCannot clear the database!'
  successfully: '&aOperation completed in %s ms.'
  drop-db-warn: '&c&lDo you really want to permanently delete the balances of all players in bank &f%s&c&l?'
  drop-db-warn-all: '&c&lDo you really want to permanently delete the balances of all players in all banks?'